div{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    margin-bottom: 50px;
}
.tt:hover{
    transform: translate(100px,50px);
}

.tr:hover{
    transform: rotate(-20deg);
}

.ts:hover{
    transform: scale(2,3);
}

.tsx:hover{
    transform: scaleX(2);
}

.tsy:hover{
    transform: scaleY(3);
}

.tk:hover{
    transform: skew(20deg,30deg);
}

.tkx:hover{
    transform: skewX(20deg);
}

.tky:hover{
    transform: skewY(-30deg);
}

.tm:hover{
    transform: matrix(1,2,1,0,0,0);
}

.space{
    margin-top: 150px;
}